* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #5266d8;
  --background-image-light: url('../pictures/register-light.jpg');
  --background-image-dark: url('../pictures/register-dark.jpg');
  --background-image-login-light: url('../pictures/login-light.jpg');
  --background-image-login-dark: url('../pictures/login-dark.jpg');
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
}

#loader {
  border: 12px solid #f3f3f3;
  background-color: var(--bg-color);
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  z-index: 999;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.light-mode-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 40px;
  left: 50px;
  text-align: center;
  line-height: 50px;
  color: #222327;
  background: #fff;
  font-size: 30px;
  cursor: pointer;
}

.dark-mode-btn {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 40px;
  left: 50px;
  text-align: center;
  line-height: 50px;
  background: #222327;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 43%);
  ;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}