@import url("../css/default.css"); /* Import Website colors and default styles from one css file */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: var(--background-image);
    background-size: cover;
}
@media (max-width: 1090px){
    body{
        background-position: center;
    }
}
.wrapper{
    width: 420px;
    background: transparent;
    padding: 30px 40px;
    user-select: none;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: rgb(232, 240, 254);
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px 45px 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.33);
    user-select: text;
}
.input-box input:focus ~ .input-label,
.input-box input:valid ~ .input-label {
    top: 0;
    font-size: 12px;
}
.input-box input::placeholder{
    color: var(--bg-color);
}
.input-box i{
    right: 20px;
    color: #222327;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}
.input-box .input-label {
    font-size: 16px;
    color: #222327;
    position: absolute;
    pointer-events: none;
    left: 22px;
    top: 12px;
    transition: 0.2s;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: var(--text-color);
    margin-right: 3px;
}
.remember-forgot a{
    color: var(--text-color);
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: var(--text-color);
    color: var(--bg-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    margin-left: 1%;
    color: var(--text-color);
    text-decoration: none;
    font-size: 17px; 
}
.register-link p a:hover{
    text-decoration: underline;
}
.error-message {
    display: none;
    justify-content: center;
    color: #ff6961;
    font-size: 16px;
}  
.success-message {
    display: none;
    justify-content: center;
    color: #54AD56;
    font-size: 16px;
}  
